/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&family=Righteous&display=swap');


* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}


body {
    background-color: rgb(201, 208, 211);
    overflow-x: hidden;
}

main{
    padding-bottom: 100px;
}

ul {
    list-style-type:none;
}


/*
=================
Navbar
=================
*/

nav {
    background:rgb(255, 255, 255) ;
    box-shadow: 5px 5px 14px black;
}

a {
    text-decoration: none;
}

footer {
    background:rgb(255, 255, 255) ;
    width: 100%;
}



.nav-header {
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    
}
.nav-header h1 {
    font-size: 3rem;
    font-family: 'Righteous', cursive;
}
.nav-header span {
    color:rgb(233, 109, 109);
}

.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: all 0.3s linear;
    cursor:pointer;
}

.nav-toggle:hover {
    transition: rotate(90deg);
}

.links {
    height: 0;
    overflow:hidden;
    transition: all 0.3s linear;
}

.links a {
    font-size: 1.5rem;
    padding: 1rem;
    font-family: 'Righteous', cursive;
    color: black;
    

}

.links li {
    margin: 0.5rem 1rem;
}

.show-links {
    height: 10rem;
}



.container {
    width: 80vw;
    margin: 0 auto;
}

.title {
    font-family: 'Righteous', cursive;
    margin-bottom: 4rem;
    font-size: 4vw;
    margin-top: 3rem;
    text-align: center;
    
}

.underline {
    width: 85vw;
    height: 0.25rem;
    background-color: black;
    margin-left: auto;
    margin-right: auto;

}

.review {
    background-color: rgb(232, 236, 240);
    
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 8px 50px rgb(209, 221, 142);
    padding: 1.5rem 2rem;


    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}




.img-container {
    width: 150px;
    height: 150px;
    margin-bottom: 2rem;
   
    position:relative;
}

.button-container {
    
    margin-top: 3rem;
    margin-bottom: 1rem;
    
    width: 100%;

    display:flex;
    flex-direction: row;
    justify-content: space-around;
    
}

.prev-btn,
.next-btn,
.random-btn {
    width: 80px;
    height: 40px;
    background-color: transparent;
    border-radius: 5px;

    box-shadow: 0px 5px 10px rgb(184, 181, 181);
}
.footer-center {
    
    width: 100%;
    padding: 0;
}
.footer-header {
    padding: 3rem;
    width: 100%;

}

.footer-header h1 {
    font-family: 'Righteous', cursive;
    font-size: 1rem;
}

.footer-header h1 span {
    border: 5px solid rgb(161, 63, 63, 30%);
    border-radius: 10px;
    margin-right: 30px;
    margin-left: 30px;
      
}

/* .footer-header span:last-child {
    border-right: 2px solid red;
} */

#pokemon-img {
    width: 150px;
    height: 150px;
 
}

#name {
    margin-bottom: 1rem;
    font-family: 'Righteous', cursive;
    font-weight: 200;
    font-size: 2.3rem;
    
}

#type {
    margin-bottom: 1rem;
    font-family: 'Mukta', sans-serif;
    font-size: 1.5rem;

    
}

#info {
    font-family: 'Mukta', sans-serif;
    font-weight: 700;
    max-width: 90%;
}


@media screen and (min-width: 915px) {

    a {
        font-size: 1.7rem;
        font-family:'Mukta', sans-serif;
        color: black;
        
        
    }


    .nav-toggle {
        display:none;
    }


    .review {
        max-width: 60%;
    }

    .nav-center {
        
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 1rem;
        
       
    }
    .nav-header {
        box-shadow: 0px 5px 14px black;
    }
    

   

    .links {
        
        
        color: black;
        height: auto;
        display: flex;
        
        
    }

    
   
    


    .links a {
        margin-right: 1rem;
        padding: 1.2rem;
        

    }

    .links a:hover {
        background: rgb(126, 125, 125);
        color: white;
        
       
        transition: all 0.3s linear;
    }

    .footer-center {
        
        
        
    }

    .footer-header {
        text-align: center;
        
    }
    .footer-header h1{
        font-size: 2rem;
    }
    


}




